<html ng-app="redis">
    <head>
        <title>Green Content Delivery Network</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
            <script src="controllers.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
            </head>
    <body>
        <div ng-controller="RedisDemandCtrl" style="width: 50%; margin-left: 20px">
            <h4>Green CDN Compute Request List</h4>
            <form>
                <fieldset>
                    <input ng-model="event" placeholder="Demand for compute resource events" class="form-control" type="text" name="input">
                        <button type="button" class="btn btn-primary" ng-click="controller.onRedisDemand()">Submit Request for Compute and Pull Current Requests</button>
                        </fieldset>
            </form>
            <div>
                <div ng-repeat="event in demandEvents track by $index">
                    {{event}}
                </div>
            </div>
        </div>
        
        <div ng-controller="RedisSupplyCtrl" style="width: 50%; margin-left: 20px">
            <h4>Green CDN Supply List</h4>
            <form>
                <fieldset>
                    <input ng-model="event" placeholder="Compute resource supply events" class="form-control" type="text" name="input">
                        <button type="button" class="btn btn-primary" ng-click="controller.onRedisSupply()">Submit and Pull Available Compute</button>
                        </fieldset>
            </form>
            <div>
                <div ng-repeat="event in supplyEvents track by $index">
                    {{event}}
                </div>
            </div>
        </div>
    </body>
</html>